 body,
 html {
     font-family: "Arial", sans-serif;
     font-size: 14px;
 }
 
 html {
    box-sizing: border-box;
     display: flex;
     margin: 0 auto;
     /*background-color: red; */
 }
 
 body,
 html {
   
    margin: 0 auto;
 }
 
 body {
    margin: 0 auto;
     padding: 15px 10px;
 }
 
/* footer::before,
 /*header::before,*/
 /*main::before {
     color: #7fc1ff;
 }*/*/
 
 
 main {
     background-color: #f3faff;
     border: 2px solid #7fc1ff;
     width: 880px;
 }
 
 article,
 aside,
 nav,
 section {
     background-color: #f9f7ff;
     border: 2px solid #9779ec;
 }
 
 /*article::before,
 aside::before,
 nav::before,
 section::before {
     color: #9779ec;*/
 }
 
 h1,
 p {
     background-color: #fff;
 }
 
 h1 {
     font-size: 18px;
     border: 2px solid #ff994f;
 }
 
 h1::before {
     content: "h1";
     color: #ff994f;
 }
 
 p {
     border: 2px solid #f36dff;
     position: relative;
     padding: 16px 15px 10px;
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     -ms-border-radius: 4px;
     -o-border-radius: 4px;
 }
 
 :not(:last-child) {
     margin-bottom: 10px;
 }
 
 ::before {
     position: absolute;
     top: 3px;
     left: 5px;
     font-weight: 700;
     font-size: 11px;
     line-height: 10px;
     letter-spacing: .04em;
 }
 
 .nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: space-between;
 }
 
 /*nav ul a {
     padding: 0;
 }
 */
 main::before {
     content: "main";
 }
 
 header::before {
     content: "header";
 }
 
 footer::before {
     content: "footer";
 }
 
 section::before {
     content: "section";
 }
 
 article::before {
     content: "article";
 }
 
/* aside::before {
     content: "aside";
 }
 
 nav::before {
     content: "nav";
 }*/
 
 /*p::before {
     flex-wrap: nowrap;
     content: "p";
     color: #f36dff;
 }
 */
 main {
     display: grid;
     grid-template-areas: "nav nav sidebar""columns columns sidebar";
 }
 
 main>nav {
     grid-area: nav;
     margin-right: 10px;
     flex: center-flex;
 }
 
 main>nav+section:last-of-type {
     grid-area: columns;
     display: flex;
     justify-content: space-around;
     margin-right: 10px;
     margin-bottom: 0;
 }
 
 /*main>nav+section>p:not(:only-child) {
     margin:0 auto;
 }*/
 
 main>nav+section>p:not(:last-child) {
     margin-right: 10px;
 }
 
 main>aside {
     grid-area: sidebar;
 }
 */
 .container {
     /*  margin: 0 auto; */
     display: flex;
     margin: 0 auto;
     max-width: 100%;
 }
 
 .header {
     display: flex;
     flex: center;
     justify-content: center;
     flex-direction: column-reverse;
     padding: 15px;
     max-width: 100%;
     justify-content: space-around;
 }
 
 .content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
     margin: 5px;
     padding: 10px;
     max-width: 100%;
 }
 
 .nav  {
    margin:0 auto;
    display: flex; 
    align-self: center;
     flex-direction: column;
    max-width: 100%;
     padding: 25px;
 }
 
 .nav-a {
     padding: 15px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
    justify-content: space-between;
     font-size: 29px;
 }
 
 p {
    display:flex;
    flex-wrap: column;
    justify-content: space-around;
    padding: 10px;
    margin: 0;
 }
 .flex-container-ingredients ul {
    display:flex;
    padding: 15px;
    margin: 0 auto;
    flex-direction:column;
    border: 2px blue;
 }
 ul li {
    max-width: 100%;
     padding: 10 20 10 20;
     font-size: 22px;
     display: flex;
     flex-direction: column;
     flex:center;

 }
 .inside-side{
    display:flex;
    padding: 15px;
    margin: 0 auto;
    border-radius: 2px blue;
    justify-content: space-around;
 }

 .a {
    display:flex;
    padding: 15px;
    margin: 0 auto;
    font-size: 33px;
    justify-content: space-around;
 }
 

 
 .main_section {
     padding: 40px;
      margin: auto; 
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     border: 2px red;
 }
 .buns{
    padding:5px;
    font-size: 14px;
 }
 
 h1 {
     font-size: 48px;
 }
 
 h2 {
     font-family: monospace;
     font-size: 30px;
 }
 
 /*.title {
     display: flex;
     flex-direction: column-reverse;
     padding: 10px;
 }*/
 
 .directions-step1 {
    display: flex;
    justify-content: space-between;
     padding: 15px;
     font-size: 36px;
 }
 
 .title-dir {
     display: flex;
     flex-wrap: nowrap;
     font-size: 32px;
     justify-content: center;
     justify-content: space-between;
 }
 
 .side-bar {
    display: flex;
    flex-direction: column; 
    border: blue;
    padding: 5px;
 }
 
 .step1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
     padding: 10px;
     margin: 5px;
 }
 
 .step2 {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
     padding: 10px;
     margin: 5px;
 }

 .step3 {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     flex-direction: column;
     padding: 10px;
     margin: 5px;
 }
 .steps {
    padding:10px;
    display: flex;
    justify-content: space-between;
 }
.footer {
    max-width: 100%;
    padding: 25px;
    margin: 0 auto;
    display: flex; 
    flex-direction: row-reverse;
    flex: center;
    font-size: 22px;
    justify-content:space-between;
}

.flex-container-ingredients ul li{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    border: 2px solid yellow;
    justify-content: space-around;
}